.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.options-icon {
  color: gray;
  margin-left: 8px;
  cursor: pointer;
  font-size: 21px;
}

.response-status {
  margin-top: 16px;
}

.green-text {
  color: green;
  font-size: 14px;
}

.red-text {
  color: rgb(248, 69, 24);
  font-size: 14px;
}

.response-data {
  margin-top: 8px;
}